<div class="backdrop open is-hidden" data-map>
  <div class="modal modal-map">
    <button type="button" class="modal-close-button" data-map-close>
      <svg class="modal-icon">
        <use href="./images/svg/sprite.svg#icon-close-button"></use>
      </svg>
    </button>

    <div class="modal-form">
      <h2 class="modal-form-title">
        Lesi Ukrainky Boulevard, 26, Kyiv, Ukraine, 01133
      </h2>


      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2541.81389096212!2d30.535879314033963!3d50.42593904237182!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sfi!4v1608493482644!5m2!1sru!2sfi"
        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
      <a href="https://g.page/goitua?share" target="_blank" rel="noopener norefferer"
        class="modal-send-button modal-map-button">zoom</button>

    </div>
  </div>
</div>